body
{
	background-color: hsl(212, 45%, 89%);
}
.menu-container{
	background-color:white;
	margin-left: 740px;
	margin-right: 740px;
	height: 590px;
	border-radius: 20px 20px 20px 20px;
	margin-top: 190px;
	
}
img{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
 }

h3{
	color:black;
	text-align:center;
	font-weight: 700;
	font-family: 'Outfit', sans-serif;
	font-size: 20px;
	margin-top:30px;

}
p{
	color:  gray;
	text-align: center;
	font-weight: 400;
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
}
.menu{
    display: flex;
    background-color: hsl(225, 100%, 98%);
    width: 70%;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 60px;
   
}
.img2{
    width: 15%;
    height: 60%;
    margin-top: 15px;
    margin-left: 10px;
}
.h31{
   margin-top: 15px;
   margin-left: 20px;
   font-size: 15px;
}
.p1{
    color: rgb(134, 128, 128);
    margin-left: -85px;
    margin-top: 35px;
    font-size: 15px;
}
.h32{
    color: hsl(245, 75%, 52%);
    font-size: 12px;
    margin-left: 80px;

}
.menu2{
    display: flex;
    background-color:  hsl(225, 100%, 98%);
    width: 70%;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 60px;
    margin-top: 10px;
}
button{
    background-color:  hsl(245, 75%, 52%);
    color: white;
    width: 95%;
    height: 40px;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 5px;
    border-radius: 10px 10px 10px 10px;
}
.h33{
    color: rgb(128, 125, 125);
     font-size: 15px;
}